
/* base style */
* {
    box-sizing: border-box;
}
body {
    background-color:#c5a75273;
}
.container-fluid a {
    font-size: 30px;
    font-family:sans-serif;
    font-weight: bold;
}
.navlist li {
    background-color: lightgray;
    margin-bottom: 5px;
}
.top {
    text-align: center;
    padding:20px;
    font-weight:bold;
    font-size:30px;
}
/* header start here */
.box h3 {
    font-size: bold;
    Width:110px;
    text-align:center;
    color:white;
    margin-left:50%;
}
.box {
    border: 1px solid black;
    background-color:lightgreen;
    overflow-y: hidden;
    margin-bottom: 10px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size:25px;
}
p {
    text-align: justify;
    margin:5px;
    color: black;
    font-weight: normal;
    font-size: 16px;
}
